<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>对对对</p>
    <p>对对，msg的内容是{{msg}}</p>
    <!-- <p>对对，msg的内容是{{msg}} {{tag}}</p> -->
    {{msg}}
    <div>
      <p>{{msg}}</p>
      <p>{{car.brand}}</p>
      <!-- <p>{{tag}}</p> -->
      <!-- <p>{{car.brand}}</p> -->
      <!-- <p v-text="car.color"></p> -->
    </div>
    <!-- <p>{{msg}}</p> -->
    <p>v-text</p>
    <!-- <p v-text="msg" title="d"></p> -->
    <!-- <p v-html="msg" title="d"></p> -->
    <input type="text" v-model="car.brand">
    <button v-on:click="clickFn">lalal</button>
  </div>
  <script src="./src/watcher.js"></script>
  <script src="./src/observer.js"></script>
  <script src="./src/compile.js"></script>
  <script src="./src/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        msg: 'hello',
        // tag: '标签',zzzz
        car:{
          brand:'benzi',
          color:'yellow'
        }
      },
      methods: {
        clickFn() {
          // 在methods里的this应该指向vm实例,这里
          this.$data.msg = 'ss'
        }
      }
    })
    console.log(vm);

  </script>
</body>

</html>